{% if section.blocks.size > 0 %}
  <div class="product-more-info" style="display: flex;justify-content: space-around;">
    {% for block in section.blocks %}
      {% if block.settings.info_text != blank %}
        <p class="product-info-link {{ block.settings.info_icon }}">
          {% if block.settings.info_url != blank %}
          	<a style="color:black;text-decoration: underline;" href="{{ block.settings.info_url }}">
          {% endif %}
            {{ block.settings.info_text | escape }}
          {% if block.settings.info_url != blank %}</a>{% endif %}
        </p>
      {% endif %}
    {% endfor %}
  </div>


{% endif %}


