{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% for option in product.options_with_values %}
    {% assign option_index = forloop.index0 %}

    <div class="inline-field-wrapper js-required data-{{option.name}}" data-{{option.name}}>
     
      <span class="input-field-title">{% if option.name =='Color' %}
        								<b>Choose Colour</b>:
        							  {% elsif option.name =='Size' %}
        								<label><span class="input-field-title" style="text-align: left;" ><b> DIY </b> - select {% if option.values.size > 1 %}one of our generic sizes{% else %}our generic size{% endif %}:<span style="margin-left:10px" data-selected-size></span></span></label>
        							  {% else %}
        								<b>{{ option.name }}</b>:
        							{% endif %}</span>
		{% if option.name != 'Color' %}
          {% for value in option.values %}
            {%- capture option_id -%}
              single-option-{{ form_id }}-{{ option_index }}-{{ forloop.index0 }}
            {%- endcapture -%}
            <label
              class="input-checkbox-wrapper "
              for="{{ option_id }}">

              <input
                class="input-checkbox"
                type="radio"
                value="{{ value | escape }}"
                {% if option.selected_value == value %}checked{% endif %}
                name="option-{{ option_index }}"
                id="{{ option_id }}"
                data-option-index="{{ option_index }}"
                data-radio
                data-option-input="{{ form_id }}">

              <span style="text-align:center" class=" input-checkbox-title ">{{ value }}
              {% if product.handle contains 'door' %}
                 {% if value == 'Single Cassette'and section.settings.single_cassette_door != blank %}
                <span style="display:block;text-align:center">{{section.settings.single_cassette_door}}</span>
                 {% elsif value == 'Double Cassette' and section.settings.double_cassette_door != blank %}
                <span style="display:block;text-align:center">{{section.settings.double_cassette_door}}</span>
                {% elsif value == 'Large Double Cassette' and section.settings.large_double_cassette_door != blank %}
                <span style="display:block;text-align:center"> {{section.settings.large_double_cassette_door}}</span>
                {% endif %}
              {% endif %}
              </span>
            </label>
          {% endfor %}
        {% else %}
        	{% render 'swatch' with 'Color' as swatch %}
        {% endif %}
    </div>
  {% endfor %}
{% endunless %}






