{%
    include
    'product-details',
    product_title: product_title,
    title_in_details: true
  %}

{% comment %}
  @param product {object}
    (Required) Contains product information

  @param hide_shoppad {bool}
    Hide Shoppad integrations

  @param add_to_cart_override {string}
    Pass an optional string to override the 'Add to cart' button

  @param form_id {number}
    Pass an optional number to override the form id
{% endcomment %}

{% unless form_id %}
  {% assign form_id = product.id %}
{% endunless %}

<div
  class="product-form
    {% if section.settings.show_spb %}product-form-has-spb{% endif %}
    {% if product.selected_or_first_available_variant.available == false %}product-form-outofstock{% endif %}
  "
>
  {% assign product_form_id = 'product-form-' | append: form_id %}

  {% assign product_form_id = product_form_id | strip_newlines %}

  {% if product != blank %}
    {%
      form 'product',
      product,
      id: product_form_id,
      data-product-form: form_id
    %}
      {% unless section_onboarding %}
        {% if product.variants.size > 1 %}
          <div class="product-measure-links">
            <a class="links" href="/pages/measuring">How to Measure</a>
            <a class="links" href="/pages/diy-installation">How to Install</a>
          </div>
  
 
          <div class="product-options">
            {% if section.settings.variants_style == 'select' %}
              {% include 'product-options-dropdown' %}
            {% else %}
              {% include 'product-options-radio' %}
            {% endif %}

            <div class="selector-wrapper no-js-required 67">

              <label for="product-select-{{ form_id }}"></label>
              <select
                data-product-select
                class="product-select"
                name="id"
                id="product-select-{{ form_id }}">
                {% for variant in product.variants %}
                  {%- capture option_content -%}
                    {%- if variant.available -%}
                      {{ variant.title }} - {{ variant.price | money }}
                    {%- else -%}
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  {%- endcapture -%}
                  <option
                    {% if variant.id == selected_variant.id %}selected="selected"{% endif %}
                     data-title="{{ variant.title }}"
                     data-price="{{variant.price}}"
                    data-variant-id="{{ variant.id }}"
                    {% if variant.available %}
                      data-sku="{{ variant.sku }}"
                      value="{{ variant.id }}"
                    {% else %}
                      disabled="disabled"
                    {% endif %}
                    >
                    {{ option_content | strip_newlines }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
        {% else %}
          <input
            class="product-select"
            name="id"
            value="{{ product.variants[0].id }}"
            type="hidden"
            data-variant-title="{{ product.variants[0].title }}" />
        {% endif %}
      {% endunless %}

      {% unless hide_shoppad %}
        <div id="infiniteoptions-container"></div>
        <div id="uploadery-container"></div>
      {% endunless %}

      <div
        class="
          input-wrapper product-quantity
          {% if section.settings.show_spb %}
            smart-payments
          {% endif %}
        "
      >
        <div class="product-quantity-container">
          
           {% unless section_onboarding %}
          <div class="qty-box">
            <label
              class="product-quantity-label"
              for="quantity">
              {{ 'general.general.quantity' | t }}
            </label>
            <input
              class="input-field product-quantity-input"
              type="number"
              name="quantity"
              value="1">
          </div>
          {% endunless %}
          
<!--           <span style="margin-top:20px" class="input-field-title"><b>Choose Your Option</b>:</span>
          <input class="input-checkbox-wrapper" data-diy type="checkbox" id="addDIY" name="addDIY" value="addDIY">
          <label for="addDIY"> DIY: Cut and install by Customer <a data-modal href="#">Generic Size</a></label><br> -->
          <div style="text-align:left;">          
            <input class="input-checkbox-wrapper" data-add-custom-size type="checkbox" id="addCustomSize" name="addCustomSize" value="addCustomSize">
            <label for="addCustomSize"> <b>Add cutting </b> - we will cut it to your require size {% if product.tags contains 'width_height_door' %}(+$59) {% elsif product.tags contains 'width_height_window' %} (+$39) {% endif %} </label><br>
          </div>

          {%if product.tags contains 'width_height_door'%}
            <div  style="text-align:left;" data_line_item class="prop-line-items line-item-property__field cstm_size">
              <label for="custom-size"><b>Enter your Size (mm)</b></label>
             <div class="cstm_size_flex" data-custom-width style="display:flex;align-items: baseline;">
                  <label style="margin-right: 15px" for="custom-width">Width: </label>
               <input onKeyPress="if(this.value.length==4) return false;" data-custom-size type="number" placeholder="Top"name="properties[custom_size_top]" id="custom_size_top" min="0" max="2300" required>
              <input onKeyPress="if(this.value.length==4) return false;" data-custom-size type="number" placeholder="Bottom" name="properties[custom_size_bottom]" id="custom_size_bottom"  min="0" max="2300" required>

              </div>
              <div class="cstm_size_flex" data-custom-height style="display:flex;align-items: baseline;">
                <label style="margin-right: 10px" for="custom-height">Height: </label>
              <input onKeyPress="if(this.value.length==4) return false;" data-custom-size type="number" placeholder="Left" name="properties[custom_size_left]" id="custom_size_left"  min="0" max="2400" required>
              <input onKeyPress="if(this.value.length==4) return false;" data-custom-size type="number" placeholder="Right" name="properties[custom_size_right]" id="custom_size_right" min="0" max="2400" required>
              </div>
            </div>
        {% elsif product.tags contains 'width_height_window'%}
        <div  style="text-align:left;" data_line_item class="prop-line-items line-item-property__field cstm_size">
          <label for="custom-size">Enter your Size (mm)</label>

          <div class="cstm_size_flex" data-custom-width style="display:flex;align-items: baseline;">
            <label style="margin-right: 15px" for="custom-width">Width: </label>
            <input onKeyPress="if(this.value.length==4) return false;" data-custom-size type="number" placeholder="Top" name="properties[custom_size_top]" min="0" max="1500" id="custom_size_top"  required>
            <input onKeyPress="if(this.value.length==4) return false;" data-custom-size type="number" placeholder="Bottom" min="0" name="properties[custom_size_bottom]" max="1500" id="custom_size_bottom" required>

          </div>
          <div class="cstm_size_flex" data-custom-height style="display:flex;align-items: baseline;">
            <label style="margin-right: 10px" for="custom-height">Height: </label>
            <input onKeyPress="if(this.value.length==4) return false;" data-custom-size type="number" placeholder="Left" name="properties[custom_size_left]" id="custom_size_left"  min="0" max="1500" required>
            <input onKeyPress="if(this.value.length==4) return false;" onKeyPress="if(this.value.length==4) return false;"data-custom-size type="number" placeholder="Right" name="properties[custom_size_right]" id="custom_size_right"  min="0" max="1500" required>
          </div>
        </div>
        {% endif %}

        {% unless product.tags contains 'hidden' or product.tags contains 'charge_product' %}
          <div class="add-to-cart">
              {% if product.available %}
              <div class="product-form-submit-wrap">
                
                <label data-final-price ><span class="input-field-title product-price"><b >Your Price:<span data-new-price data-org-prc="{{product.selected_variant.price}}" class="money" style="display:block;margin-left:5px;color: red;"></span></b></span></label>
                {% assign add_to_cart_text = 'products.product.add_to_cart' | t %}
                {% if add_to_cart_override %}
                  {% assign add_to_cart_text = add_to_cart_override %}
                {% endif %}
                <input style="z-index:unset;font-size: 16px;" data-add-to-cart class="button" type="submit" value="{{ add_to_cart_text }}" />
                <div style="z-index:-1;" class="add-to-cart-loader"></div>
              </div>

              {% if section.settings.show_spb %}
                {{ form | payment_button }}
              {% endif %}
            {% else %}
              <input
                class="button disabled"
                type="button"
                disabled="disabled"
                value="{{ 'products.product.sold_out' | t }}">
            {% endif %}
           
          </div>
        {% endunless %}
        </div>

        <div class="product-cart-message" data-product-message></div>
        <p class="quote-links">
          <label><b>Installation Available </b>- Brisbane &amp; Gold Coast Only</label>
          <label ><a href="/pages/contact-us"><b>Get Quote</b></a></label>
        </p>
      </div>
      <input type="hidden" data-width name="properties[custom_size_width]">
      <input type="hidden" data-height name="properties[custom_size_height]">
  
  
        {% if product.tags contains 'width_height_door' and section.settings.door_addon != blank %}
          {% assign addon_product = all_products[section.settings.door_addon] %}
              <input type="hidden" data-door-addon value="{{addon_product.variants[0].id}}">
        {% elsif product.tags contains 'width_height_window' and section.settings.window_addon != blank%}
          {% assign addon_product = all_products[section.settings.window_addon] %}
              <input type="hidden" data-window-addon value="{{addon_product.variants[0].id}}">
        {%endif%}
      {% endform %}
  {% endif %}
</div>



<style>
  a.links{
    padding: 15px;
    background: #87C55A;
    color: white;
    font-weight: 700;
    font-size: medium;
    flex: 1 1 0px;
    text-align: center;
    border:1px solid #87C55A;
  }
  a.links:nth-child(odd){
    margin-right: 10px;
  }
  a:hover.links{
    background: #fff;
    color: #87C55A;
  }
  .product-measure-links {
    margin-bottom: 20px;
    display: flex;
	}
  
  .prop-line-items{
   margin: 20px 0;
  
  }
  .qty-box{
    margin-top: 20px;
    width: 200px;
    padding: 0px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: left;
    align-items: baseline;
  }

  
  .quote-links a{
    padding: 15px;
    background: white;
    color: ;
    border-radius:5px;
    border:1px solid #87C55A;
  }
  .quote-links a:hover{
    background: #87C55A;
    color: #fff;
  }
  
  
  .quote-links > label{
    display: block;
    text-align:center;
    margin-bottom: 20px;
  }
 
  .product-form-submit-wrap{
  	display: flex;
    justify-content: space-between;
  
  } 
  .product-form-submit-wrap .button {
    width: 60%;
  }

  .product-form-submit-wrap .product-price{
  	font-size: 1.0375rem;
    padding: 5px 38px;
    border: 1px solid #1d1b44;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
    text-align:center;
  }
  
 

   @media only screen and (max-width: 768px) {
     a.links{
     padding:20px;
     }
/*      .qty-box{
     width: 70%;
     } */
     
     .product-form-submit-wrap .product-price{
       padding: 5px 14px;
  	}
  
 
}
  @media only screen and (max-width: 480px) {
/*     .qty-box{
     width: 54%;
    
    } */
      a.links {
    padding: 15px;
	}
    .quote-links{
      margin-top: 20px;
    } 
    .quote-links > label{
      margin-bottom: 30px;
    }

    
    .product-form-submit-wrap{
      display: unset;
    }
    .product-form-submit-wrap > label{
      display: block;
    }
    .product-form-submit-wrap .product-price{
      margin-right: 0px;
    }
    .product-form-submit-wrap .button{
      display: block;
      width: 100%;
    }
    .product-form-submit-wrap .add-to-cart-loader{
      display:none;
    }
    
}

/*   @media only screen and (max-width: 320px) {
    .qty-box{
      width: 100%;
    }
  } */
</style>

