{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% for option in product.options_with_values %}
    {% assign option_index = forloop.index0 %}
    {%- capture option_id -%}
      single-option-{{ form_id }}-{{ option_index }}
    {%- endcapture -%}

    <div class="inline-field-wrapper js-required data-{{option.name}}" data-{{option.name}}>
      <span class="input-field-title">
           {% if option.name =='Size' %}
           		<label><span class="input-field-title" style="text-align: left;margin-bottom: 10px;" ><b> DIY </b> - select {% if option.values.size > 1 %}one of our generic sizes{% else %}our generic size{% endif %}:<span style="margin-left:10px" data-selected-size></span></span></label>
           {% endif %}
        </span>
      <div class="select-wrapper prdt_vrnt">
         <label
          style=""
          class="select-text"
          for="{{ option_id }}"
          data-select-text>
          <strong>{{ option.name }}:</strong> <span data-selected-option></span>
        </label>
        <select
          class="single-option-selector"
          id="{{ option_id }}"
          data-select
          data-option-select="{{ form_id }}"
          data-option-index="{{ option_index }}">
          {% for value in option.values %}
            <option value="{{ value | escape }}"
              {% if option.selected_value == value %}selected="selected"{% endif %}>
              	{{ value }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endfor %}
{% endunless %}


<style>
  .select-wrapper > label{
  font-size: 0.983rem;
  }
  @media only screen and (max-width: 1024px) {
     .select-wrapper > label{
    	font-size: 0.9rem;
     }
    }
   @media only screen and (max-width: 992px) {
     .select-wrapper > label{
    	font-size: 0.94rem;
     }
    }
</style>