{%- capture _ -%}
  {% comment %}
    @param img
      An Image Drop to display.

    @param lazy (optional)
      Lazy-load the image. Outputs markup to connect with the rimg JS.
      Defaults to false.

    @param background (optional)
      Output the image markup as a background image.
      Defaults to false.

    @param size (optional)
      The size to display the image at. Uses the same syntax as `img_url`.
      Defaults to the image's native size.

    @param crop (optional)
      The crop type to use. One of: top, center, bottom, left, right.
      Defaults to no cropping.

    @param scale (optional)
      A number to scale the image by.
      Defaults to '1'.

    @param placeholder (optional)
      The size to display to placeholder image at. Uses the same syntax as
      `img_url`. Only applies if `lazy` is true.
      Defaults to no placeholder image.

    @param alt (optional)
      Alt text for the image.
      Defaults to the img's alt property or a blank string if none exists.

    @param class (optional)
      CSS class names to add to the image tag's `class` attribute.

    @param style (optional)
      CSS styles to apply to the image tag's `style` attribute.

    @param attr (optional)
      Extra attributes to add to the image tag. For example: `id="example"`.

    @param canvas (optional)
      Add an extra element, useful for styling loaders. Defaults to false.

  {% endcomment %}

  {% comment %}
    Parse size parameter and force to numbers.
  {% endcomment %}
  {% assign rimg_s = size | split: 'x' %}
  {% assign rimg_w = rimg_s[0] %}
  {% assign rimg_h = rimg_s[1] %}
  {% if rimg_w != blank %}{% assign rimg_w = rimg_w | times: 1 | at_most: img.width %}{% endif %}
  {% if rimg_h != blank %}{% assign rimg_h = rimg_h | times: 1 | at_most: img.height %}{% endif %}

  {% comment %}
    Calculate width and height based on the size parameter.
  {% endcomment %}
  {% if rimg_w == blank and rimg_h == blank %}
    {% assign rimg_w = img.width %}
    {% assign rimg_h = img.height %}

  {% comment %} Size to a specific height {% endcomment %}
  {% elsif rimg_w == blank %}
    {% assign rimg_w = rimg_h | times: img.aspect_ratio %}
    {% if rimg_w > img.width %}
      {% assign rimg_w = img.width %}
      {% assign rimg_h = rimg_w | divided_by: img.aspect_ratio %}
    {% endif %}

  {% comment %} Size to a specific width {% endcomment %}
  {% elsif rimg_h == blank %}
    {% assign rimg_h = rimg_w | divided_by: img.aspect_ratio %}
    {% if rimg_h > img.height %}
      {% assign rimg_h = img.height %}
      {% assign rimg_w = rimg_h | times: img.aspect_ratio %}
    {% endif %}

  {% comment %} Size to a width and height, no crop {% endcomment %}
  {% elsif crop == blank %}
    {% if img.aspect_ratio > 1 %}
      {% assign rimg_h = rimg_w | divided_by: img.aspect_ratio %}
      {% if rimg_h > img.height %}
        {% assign rimg_h = img.height %}
        {% assign rimg_w = rimg_h | times: img.aspect_ratio %}
      {% endif %}

    {% else %}
      {% assign rimg_w = rimg_h | times: img.aspect_ratio %}
      {% if rimg_w > img.width %}
        {% assign rimg_w = img.width %}
        {% assign rimg_h = rimg_w | divided_by: img.aspect_ratio %}
      {% endif %}
    {% endif %}

  {% endif %}

  {% comment %}
    Set the scale, default to 1.
  {% endcomment %}
  {% assign rimg_scale = scale | default: 1 %}

  {% comment %}
    Try to guess the alt text based off the image if none is provided.
  {% endcomment %}
  {% assign rimg_alt = alt
    | default: img.alt
    | default: ''
    | escape
  %}

  {% comment %}
    Define a URL template. We use this to generate exact-size URLs in JS.
  {% endcomment %}
  {% assign rimg_url_template = img
    | img_url: '1x1', crop: crop
    | replace: '_1x1', '_{size}'
  %}

  {% comment %}
    Define a placeholder SVG that shares the image's aspect ratio.

    Setting the image's initial `srcset` attribute to this inline SVG allows the
    image to have the correct aspect ratio before we actually load the image.
  {% endcomment %}
  {% assign rimg_placeholder = 'data:image/svg+xml;utf8,'
    | append: "<svg xmlns='http://www.w3.org/2000/svg' width='X' height='Y'></svg>"
    | replace: 'X', rimg_w
    | replace: 'Y', rimg_h
    | replace: ' ', '%20'
  %}

  {% comment %}
    Generate a `srcset` string.
  {% endcomment %}
  {% assign rimg_density = '1 2' %}
  {% assign rimg_densities = rimg_density | split: ' ' %}
  {% assign rimg_density_srcset = '' %}
  {% for rimg_densities_i in rimg_densities %}
    {% assign rimg_densities_w = rimg_w | times: rimg_densities_i | round %}
    {% assign rimg_densities_h = rimg_h | times: rimg_densities_i | round %}
    {% if rimg_densities_w > img.width or rimg_densities_h > img.height %}{% continue %}{% endif %}

    {% assign rimg_densities_size = rimg_densities_w | append: 'x' | append: rimg_densities_h %}
    {% assign rimg_density_src = img | img_url: rimg_densities_size, crop: crop %}
    {% assign rimg_density_srcset = rimg_density_srcset
      | append: ', '
      | append: rimg_density_src
      | append: ' '
      | append: rimg_densities_i
      | append: 'x'
    %}
  {% endfor %}
  {% assign rimg_density_srcset = rimg_density_srcset | remove_first: ', ' %}

{%- endcapture -%}

{% comment %} Background image {% endcomment %}
{% if background %}
  {% if lazy %}
    data-rimg="lazy"
    data-rimg-template="{{ rimg_url_template }}"
    data-rimg-max="{{ img.width }}x{{ img.height }}"
    {% if placeholder %}data-rimg-placeholder="{{ placeholder }}"{% endif %}
    {% if class != blank %}class="{{ class }}"{% endif %}
    {% if style != blank %}style="{{ style }}"{% endif %}
    {% if attr != blank %}{{ attr }}{% endif %}

  {% else %}
    {% if class != blank %}class="{{ class }}"{% endif %}
    style="
      background-image: url('{{ img | img_url: size }}');
      {% if style != blank %}{{ style }}{% endif %}
    "
    {% if attr != blank %}{{ attr }}{% endif %}

  {% endif %}

{% comment %} Image tag {% endcomment %}
{% else %}
  {% if lazy %}
    <noscript data-rimg-noscript>
      <img
        src="{{ img | img_url: size }}"
        data-src="{{ img | img_url: size }}"
        alt="{{ rimg_alt }}"
        data-rimg="noscript"
        srcset="{{ rimg_density_srcset }}"
        {% if class != blank %}class="{{ class }}"{% endif %}
        {% if style != blank %}style="{{ style }}"{% endif %}
        {% if attr != blank %}{{ attr }}{% endif %}
      >
    </noscript>
  {% endif %}

  <img
    src="{{ img | img_url: size }}"
    alt="{{ rimg_alt }}"
 	data-src="{{ img | img_url: size }}"
    {% if lazy %}
      data-rimg="lazy"
      data-rimg-scale="{{ rimg_scale }}"
      data-rimg-template="{{ rimg_url_template }}"
      data-rimg-max="{{ img.width }}x{{ img.height }}"
      {% if placeholder %}data-rimg-placeholder="{{ placeholder }}"{% endif %}
      srcset="{{ rimg_placeholder }}"
    {% else %}
      data-rimg
      srcset="{{ rimg_density_srcset }}"
    {% endif %}

    {% if class != blank %}class="{{ class }}"{% endif %}
    {% if style != blank %}style="{{ style }}"{% endif %}
    {% if attr != blank %}{{ attr }}{% endif %}
  >
{% endif %}

{% if canvas %}
  <div data-rimg-canvas></div>
{% endif %}

{%- capture _ -%}
  {% comment %}
    Unset all local variables so they don't pollute the global scope.
  {% endcomment %}
  {% assign rimg_s = blank %}
  {% assign rimg_w = blank %}
  {% assign rimg_h = blank %}
  {% assign rimg_scale = blank %}
  {% assign rimg_url_template = blank %}
  {% assign rimg_alt = blank %}
  {% assign rimg_density = blank %}
  {% assign rimg_densities = blank %}
  {% assign rimg_densities_i = blank %}
  {% assign rimg_densities_w = blank %}
  {% assign rimg_densities_h = blank %}
  {% assign rimg_density_src = blank %}
  {% assign rimg_densities_size = blank %}
  {% assign rimg_density_srcset = blank %}
  {% assign rimg_placeholder = blank %}
{%- endcapture -%}
