<script type="text/javascript">
  Theme = {};
  Theme.version = "8.4.6";
  Theme.currency = '{{ shop.currency }}';
  shopCurrency = '{{ shop.currency }}'; /* used by shipping calculator */
  Theme.moneyFormat = {{ shop.money_format | strip_html | json }};
  Theme.moneyFormatCurrency = {{ shop.money_with_currency_format | strip_html | json }};
  Theme.enableCurrencyConverter = {{ settings.enable_currency_converter | default: false }};
</script>
