<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,EmulateIE11">

  {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% assign twitter_handle = settings.social_twitter_url | split: 'twitter.com/' | last %}
  {%
    include 'social-meta-tags',
    twitter_handle: twitter_handle
  %}
  	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
{{ 'jquery.zoom.min.js' | asset_url | script_tag }}
  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Third Party JS Libraries -->
  {{ 'modernizr-2.7.1.min.js' | asset_url | script_tag }}
  
    
  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>

  <!-- Store object -->
  {% include 'theme-options' %}

</head>

<body class="template-{{ template | replace: '.', '-' | handle }} {% if customer %}customer-logged-in{% endif %}">

  {% section 'general-header' %}

  <main
    class="main-content"
    role="main"
    data-main-content>

    {% unless template contains 'index' or template contains 'product' %}
      {% include 'breadcrumbs' %}
    {% endunless %}

    {{ content_for_layout }}
  </main>

  {% section 'general-footer' %}

  <!-- Scripts -->

  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

  {% if template contains 'cart' %}
    {{ '/services/javascripts/countries.js' | script_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <script type="application/json" data-currency-data>
    {
      "enable": {{ settings.enable_currency_converter | default: false }},
      "shopCurrency": {{ shop.currency | json }},
      "defaultCurrency": {{ settings.currency_converter_default | default: shop.currency | json }},
      "displayFormat": {{ settings.currency_display_format | json }},
      "moneyFormat": {{ shop[settings.currency_display_format] | default: shop.money_format | strip_html | json }},
      "moneyFormatNoCurrency": {{ shop.money_format | strip_html | json }},
      "moneyFormatCurrency": {{ shop.money_with_currency_format | strip_html | json }}
    }
  </script>

  {% if settings.enable_currency_converter %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
  {% endif %}

  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'theme.js'  | asset_url | script_tag }}
  
   {% if template contains 'product' or template contains 'cart' %}
 {{ 'custom.js'  | asset_url | script_tag }}
  {% endif %}

  {% include 'structured-data' %}
  
  {% comment %} Custom Scripts {% endcomment %}
  <script>
    $(document).ready(function(){
       
      $('.promo-mobile').slick({
        dots: false,
        arrows: false,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 2000
      });
    });
  $('.product-thumbnails').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    dots: false,
    arrows: true,
   
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 992,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    },
  ]
  });
  $('.main-product-carousel').slick({
   
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: false,
    arrows: true
  });
  
  </script>
{% comment %}This is for Product Option App by hulkapps{% endcomment %}{% include 'hulkcode_common' %}</body>
</html>
