{% if section.settings.enable and section.blocks.size > 0 %}
  {%- capture feature_styles -%}
    color: {{ section.settings.text_color }};
  {%- endcapture -%}

  {%- capture slideshow_classes -%}
    full-slideshow-wrapper
    {{ section.settings.slideshow_transition }}
    {{ section.settings.slideshow_layout }}
    {% if section.settings.show_shadows %}slide-text-use-shadows{% endif %}
  {%- endcapture -%}

  {% assign trigger_full_bleed = false %}
  {%- if section.settings.slideshow_layout == 'full-bleed' -%}
    {% assign trigger_full_bleed = true %}
  {%- elsif section.settings.slideshow_layout == 'opening-screen' -%}
    {% assign trigger_full_bleed = true %}
  {%- endif -%}

  {% assign image_size = '' %}
  {% if section.settings.slideshow_layout == 'content-width' %}
    {% assign image_size = '960x' %}
  {% elsif section.settings.slideshow_layout == 'full-width' %}
    {% assign image_size = '1440x' %}
  {% elsif section.settings.slideshow_layout == 'full-bleed' %}
    {% assign image_size = '1440x' %}
  {% elsif section.settings.slideshow_layout == 'opening-screen' %}
    {% assign image_size = '2048x' %}
  {% endif %}

  {% assign slideshow_autoplay = section.settings.autoplay %}

  <div
    class="{{ slideshow_classes | strip_newlines}}"
    {% if slideshow_autoplay %}
      data-autoplay="{{ section.settings.frequency | times: 1000 }}"
    {% endif %}
    {% if trigger_full_bleed %}
      data-full-bleed-slideshow
    {% endif %}
    data-section-id="{{ section.id }}"
    data-section-type="slideshow"
    data-section-style="default-style"
    style="{{ feature_styles | strip_newlines }}">

    {% if section.blocks.size > 0 %}
      <section class="full-slideshow-content" data-slideshow-container>

        <div class="full-slideshow-loader"></div>

        {% for block in section.blocks %}
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}

          {% assign has_content = true %}
          {% if
            block.settings.title == blank and
            block.settings.subtitle == blank and
            block.settings.caption == blank and
            block.settings.button == blank %}
            {% assign has_content = false %}
          {% endif %}

          {% if block.settings.image %}
            {% assign slide_image = block.settings.image %}
            {% assign placeholder_image_style = false %}
          {% else %}
            {% assign placeholder_image_style = 'lifestyle-' | append: current %}
            {% assign color_string = settings.body-text-color | hex_to_rgba: 0.35 %}
            {%- capture slide_image -%}
              {%-
                include 'placeholder_svg_uri',
                placeholder: placeholder_image_style,
                color_string: color_string
              -%}
            {%- endcapture -%}
          {% endif %}

          {%- capture slide_class -%}
            slideshow-slide
            text-aligned-{{ block.settings.alignment }}
            has-image
            {% if has_content %}has-text{% endif %}
          {%- endcapture -%}

          {% assign crop = 'center' %}

          {% if section.settings.slideshow_layout == 'content-width' %}
            {% assign crop = '' %}
          {% endif %}

          <article
            data-slide="{{ forloop.index }}"
            class="{{- slide_class | strip_newlines -}}"
            {% if placeholder_image_style %}
              style="background-image: url('{{ slide_image }}');"
            {% else %}
              {% if section.settings.slideshow_layout != 'content-width' %}
                {% assign crop_image = 'center' %}
              {% endif %}

              {%
                include 'rimg',
                img: block.settings.image,
                size: image_size,
                background: true,
                crop: crop_image,
                lazy: true
              %}
            {% endif %}

            {{ block.shopify_attributes }}
          >

            {% if block.settings.link != blank and block.settings.image %}
              <a href="{{ block.settings.link }}">
            {% endif %}

            {% if block.settings.image %}
              {%
                include 'rimg',
                img: block.settings.image,
                size: image_size,
                class: 'slide-image',
                crop: crop_image,
                lazy: true
              %}
            {% else %}
              {{ placeholder_image_style | placeholder_svg_tag: 'placeholder-svg slide-image' }}
            {% endif %}

            {% if block.settings.link != blank %}
              </a>
            {% endif %}

            {% if has_content %}
              <div class="slide-text">
                {% if block.settings.title != blank %}
                  <h1 class="slide-title">{{ block.settings.title | escape }}</h1>
                {% endif %}

                {% if block.settings.subtitle != blank %}
                  <h2 class="slide-subtitle">{{ block.settings.subtitle | escape }}</h2>
                {% endif %}

                {% if block.settings.caption != blank %}
                  <div class="slide-caption">
                    {{ block.settings.caption }}
                  </div>
                {% endif %}

                {% if block.settings.button != blank and block.settings.link != blank %}
                  <a class="slide-button button" href="{{ block.settings.link }}">
                    {{ block.settings.button | escape }}
                  </a>
                {% endif %}
              </div>
            {% endif %}

          </article>
        {% endfor %}
      </section>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable"
    },
    {
      "type": "checkbox",
      "id": "show_shadows",
      "label": "Show shadows on text elements"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#68574d"
    },
    {
      "type": "select",
      "id": "slideshow_layout",
      "label": "Layout",
      "options": [
        {
          "value": "content-width",
          "label": "Content width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "full-bleed",
          "label": "Full width, full bleed"
        },
        {
          "value": "opening-screen",
          "label": "Full width\/height, full bleed"
        }
      ],
      "default": "content-width",
      "info": "[Style examples](http:\/\/cdn.pixelunion.net\/startup\/startup-slideshow-layouts.png)"
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Transition",
      "options": [
        {
          "value": "transition-slide",
          "label": "Slide"
        },
        {
          "value": "transition-fade",
          "label": "Fade"
        }
      ],
      "default": "transition-slide"
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "Auto-rotate slides",
      "default": true
    },
    {
      "type": "range",
      "id": "frequency",
      "label": "Change slides every",
      "min": 5,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "[Read more](https://www.pixelunion.net/support/startup-theme-manual) about image sizes"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Align text",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Slideshow"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading"
        },
        {
          "type": "richtext",
          "id": "caption",
          "label": "Text",
          "default": "<p>Introduce customers to your shop with lifestyle imagery and product photography.</p>"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        }
      ]
    }
  ]
}

{% endschema %}