//scss-lint:disable VendorPrefix

@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1281px) { @content; }
  }

  @if $point == l {
    @media (max-width: 1280px) { @content; }
  }

  @if $point == m {
    @media (max-width: 1020px) { @content; }
  }

  @if $point == s {
    @media (max-width: 720px) { @content; }
  }

  @if $point == s-up {
    @media (min-width: 721px) { @content; }
  }
}

@mixin flexbox() {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -ms-flex: $values;
  -webkit-box-flex: $values;
  -webkit-flex: $values;
          flex: $values;
}

@mixin order($val) {
  -ms-flex-order: $val;
  -webkit-box-ordinal-group: $val;
  -webkit-order: $val;
          order: $val;
}

//TODO: Rename this to kebab-case (many file refactor)
//TODO: Drop this, use svgs
@mixin iconFont($font-size: 16px, $line-height: 1) {
  font-family: "Single Product Webicons Regular";
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
}

@mixin placeholder {
  //scss-lint:disable VendorPrefix
  &::-webkit-input-placeholder { @content; }
  &::-moz-input-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin lt-ie9 {

  .lt-ie9 & {
    @content;
  }
}

@mixin lt-ie10 {

  .lt-ie10 & {
    @content;
  }
}

@mixin all-elems {
  p, ul, ol, dl, blockquote, table, pre, form, div, h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

@mixin video-button($color, $color-bg, $color-bg-hover) {
  .video-loading-icon {
    display: none;
  }

  .video-play-button::after {
    content: "";
    @extend %loader;
    right: 10px;
    border-color: rgba($color, 0.15);
    border-top-color: rgba($color, 0.8);
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }

  .video-loading & .video-play-button::after {
    opacity: 1;
  }

  .video-play-icon {
    color: $color;
    background: $color-bg;
  }

  .video-play-button {
    background: $color-bg;

    &:hover,
    &:hover .video-play-icon {
      color: $color;
      background: $color-bg-hover;
    }
  }
}








  

  
  

  
  

  
  
  
  
  
  
  
  

  
  

  
  
  
  
  
  
  
  

  @font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=0a75825ab1799d7f1b2e9009d1d39c933672b0e2e873f337302562458fd10a53") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=3440885e783ec2ad5cfd3eedeefc92d0398d1626e02ef44809544a2db0efb645") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ae02483b3d5e8777d0d4a4ccf396482c364d8955.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=6b5d9be238319f99da359d21eb27b5df9f16023ed72fce3c79003498b9587196") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ba28d1a04ec09448de486d83c63235903dfc0af8.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=035e529ee30320b494d05708b4161c84ccce9bbc3fc130ff67099e9755e6bdcc") format("woff");
}


  
  
  
  

  
  

  
  
    
    
    
    

    
    @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=1da856483b5521dd7e56332259019700cf3293dc24328a2b8626bd40f6acc040") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=90775e6a28cd27ac9bcb98fc5ca6717f2ebd576f8b5635d86e20cd1169048fed") format("woff");
}


    
    
    
    
    

    
    
    
    

    
    @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.83866c3eec90071fa974c17980ffb42977f9e667.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=450da21c183cf79a1791e7f54aa2f8c00940e60c59f7cd70e24be0df170c0948") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.25524241b12d864609c85325613d60efcf1a87e3.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=69713b9a6d2d86ff9773547a747a3c775bd87183a98dcfa666dd9ab799a93084") format("woff");
}

    
    
    

    

    
    
    

    
    
    
    
  

  
  
  
  

  
  $font-body: font_body;
  $font-body-family: Montserrat, sans-serif;
  $font-body-styles: ((normal, italic), (normal, italic));
  $font-body-named-styles: ((initial, italic), (initial, italic));
  $font-body-weights: (400, 700);
  $font-body-named-weights: (initial, bolder);

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  

  
  

  
  

  
  
  
  
  
  
  
  

  
  

  
  
  
  
  
  
  
  

  @font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n5.e72d00d31ae5399d260a80ec70322c62c1819762.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=f86fef1f8702190f8afc46b5d7c97427735bde72db11db2e1acb67392abb2175") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n5.18a018b6c83e89030c5d70a6d4c02c969f228500.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=f91c8cff70fc9a26c58ddad119a39caf891a699e8383782a78bf856de5074e32") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i5.3a4750a300f30824a43384268712b76e0a04be8c.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=ed15453e401038306626ecfea1d7239c9c6a948f3d3cfa26b243c4fc17c5afb3") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i5.3c586d8884de1ac5627138711567f5b454adbef8.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=fc49ffa1f4624ebde27fb9a920e593a762c54c82e428af43c7ec2d14e403c574") format("woff");
}


  
  
  
  

  
  

  
  
    
    
    
    

    
    @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=1da856483b5521dd7e56332259019700cf3293dc24328a2b8626bd40f6acc040") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=90775e6a28cd27ac9bcb98fc5ca6717f2ebd576f8b5635d86e20cd1169048fed") format("woff");
}


    
    
    
    
    

    
    
    
    

    
    @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.83866c3eec90071fa974c17980ffb42977f9e667.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=450da21c183cf79a1791e7f54aa2f8c00940e60c59f7cd70e24be0df170c0948") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.25524241b12d864609c85325613d60efcf1a87e3.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=69713b9a6d2d86ff9773547a747a3c775bd87183a98dcfa666dd9ab799a93084") format("woff");
}

    
    
    

    

    
    
    

    
    
    
    
  

  
  
  
  

  
  $font-heading: font_heading;
  $font-heading-family: Montserrat, sans-serif;
  $font-heading-styles: ((normal, italic), (normal, italic));
  $font-heading-named-styles: ((initial, italic), (initial, italic));
  $font-heading-weights: (500, 700);
  $font-heading-named-weights: (initial, bolder);

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  

  
  

  
  

  
  
  
  
  
  
  
  

  
  

  
  
  
  
  
  
  
  

  @font-face {
  font-family: Futura;
  font-weight: 600;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/futura/futura_n6.bbe2e25d5b96d13ff36b242171a3d07cf5a60170.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=8c8216076a24f4e4d3e861124d459eb1c0018d1d07b25e5ff3599e3996d1361b") format("woff2"),
       url("https://fonts.shopifycdn.com/futura/futura_n6.66fa8f5c3c4b2c7c04809ecefe751450fa59d995.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=9b82f26ec2c5ce98e101a2704579d058c8a81d44854dee38adfe3868bf6b5fce") format("woff");
}

  @font-face {
  font-family: Futura;
  font-weight: 600;
  font-style: oblique;
  src: url("https://fonts.shopifycdn.com/futura/futura_o6.2978dbd38bd9b3e8b72ee3299cd940da2900eb72.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=af01cd854508569f94e7f0e7fbe326e06f98dcdac0d289f4085bf1cb1741fcfc") format("woff2"),
       url("https://fonts.shopifycdn.com/futura/futura_o6.bbc5bc6e7a675b3182e4866da9f9643bb3821261.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=b77253f806d06a9859d5e007e24a35a9c8effca3de2037bf8647c0e8175d82b3") format("woff");
}


  
  
  
  

  
  

  
  

  
  
  
  

  
  $font-button: font_button;
  $font-button-family: Futura, sans-serif;
  $font-button-styles: ((normal, oblique), ());
  $font-button-named-styles: ((initial, italic), ());
  $font-button-weights: (600);
  $font-button-named-weights: (initial);

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  

  
  

  
  

  
  
  
  
  
  
  
  

  
  

  
  
  
  
  
  
  
  

  @font-face {
  font-family: Futura;
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/futura/futura_n5.5632c6d8a6da9141ef40e51d14264a007bcae7e5.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=a9c734414a9c9ab901a1b519e5f39b0a80ecc3057b66e1a1e369da546764442f") format("woff2"),
       url("https://fonts.shopifycdn.com/futura/futura_n5.ea788239cf399e57dbdfe80e24bba751e5c2a36c.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=f46a03c9b5d50266e9f52c26b6ffcf390b781495e8d9bc816a25c657d94d8066") format("woff");
}

  @font-face {
  font-family: Futura;
  font-weight: 500;
  font-style: oblique;
  src: url("https://fonts.shopifycdn.com/futura/futura_o5.2374ce1c635b408a1f07994a3de4a936fc50f767.woff2?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=24d31ce8c8df112897190b76a1971db828a5d229c540d1a9781a0eac8e6b7881") format("woff2"),
       url("https://fonts.shopifycdn.com/futura/futura_o5.1bf4df2c089a877c3ba2d33a9d4c7908742bfc89.woff?h1=ZXp5c2NyZWVucy5jb20uYXU&hmac=db2a247b6f7de99faae0f649c60c6d439cd011b8405bf82c872853a21e269759") format("woff");
}


  
  
  
  

  
  

  
  

  
  
  
  

  
  $font-logo: font_logo;
  $font-logo-family: Futura, sans-serif;
  $font-logo-styles: ((normal, oblique), ());
  $font-logo-named-styles: ((initial, italic), ());
  $font-logo-weights: (500);
  $font-logo-named-weights: (initial);

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  














$font-variables: ($font-body $font-heading $font-button $font-logo);
$font-variables-families: ($font-body-family $font-heading-family $font-button-family $font-logo-family);
$font-variables-weights: ($font-body-weights $font-heading-weights $font-button-weights $font-logo-weights);
$font-variables-named-weights: ($font-body-named-weights $font-heading-named-weights $font-button-named-weights $font-logo-named-weights);
$font-variables-styles: ($font-body-styles $font-heading-styles $font-button-styles $font-logo-styles);
$font-variables-named-styles: ($font-body-named-styles $font-heading-named-styles $font-button-named-styles $font-logo-named-styles);

// Find the index of the font setting for cross referencing
@function font-setting-index($font-type) {
  @return index($font-variables, $font-type);
}

// Font
// --------
// Find the index of a font weight from its relative name
// - [$font-type]: Variable of font to look up
// - [$font-weight]: lighter/initial/bolder
@function font-weight-index($font-type, $font-weight: initial) {
  $font-setting-index: font-setting-index($font-type);

  // Look up available weights based on index of font setting
  $named-weights: nth($font-variables-named-weights, $font-setting-index);

  // Try to find index of desired font weight by cross referencing
  $weight-index: index($named-weights, $font-weight);

  // Return index of named weight, or return initial weight
  @return if($weight-index, $weight-index, 1);
}

// Font
// --------
// Find the font family for a font setting
// - [$font-type]: Variable of font to look up
@function font-family($font-type) {
  @return nth($font-variables-families, font-setting-index($font-type));
}

// Font
// --------
// Find a font style relative to a font weight
// - [$font-type]: Variable of font to look up
// - [$font-style]: initial/italic
// - [$font-weight]: lighter/initial/bolder
@function font-style($font-type, $font-style: initial, $font-weight: initial) {
  $style: null;
  $styles: null;

  // Find index of font setting
  $font-setting-index: font-setting-index($font-type);

  // Get styles based on index of font setting
  $font-styles: nth($font-variables-styles, $font-setting-index);
  $font-named-styles: nth($font-variables-named-styles, $font-setting-index);

  // Try to find index of desired font weight by cross referencing
  $weight-named-index: font-weight-index($font-type, $font-weight);

  // Get styles available for $font-weight
  $named-weight-style: nth($font-styles, $weight-named-index);
  $named-weight-named-style: nth($font-named-styles, $weight-named-index);

  // Find position of $font-style
  $style-named-index: index($named-weight-named-style, $font-style);

  @if $style-named-index {
    @return nth($named-weight-style, $style-named-index);
  } @else {
    // Return initial font style
    @return nth($named-weight-style, 1);
  }
}

// Font weight
// --------
// Find a font sensitive relative weight
// - [$font-type]: Variable of font to look up
// - [$font-weight]: lighter/initial/bolder
@function font-weight($font-type, $font-weight: initial) {
  $weight: null;

  // Find index of font setting
  $font-setting-index: font-setting-index($font-type);

  // Look up available weights based on index of font setting
  $weights: nth($font-variables-weights, $font-setting-index);

  // Try to find index of desired font weight by cross referencing
  $weight-index: font-weight-index($font-type, $font-weight);

  // Return numerical weight of font
  @return nth($weights, $weight-index);
}

// Font
// --------
// Generate complete font styles for a font setting
// - [$font-type]: Variable of font to look up
// - [$font-family]: true/false
// - [$font-size]: unit/false
// - [$font-style]: initial/italic/false
// - [$font-weight]: lighter/initial/bolder/false
@mixin font(
  $font-type,
  $font-family: true,
  $font-size: false,
  $font-style: initial,
  $font-weight: initial
) {
  @if $font-family { font-family: font-family($font-type); }
  @if $font-size { font-size: $font-size; }
  @if $font-style { font-style: font-style($font-type, $font-style: $font-style, $font-weight: $font-weight ); }
  @if $font-weight { font-weight: font-weight($font-type, $font-weight: $font-weight); }
}









// Static Variables
// ------------------------- */

// Layout
$max-width: 1020px;
$max-width-small: 640px;
$max-width-large: 1200px;
$gutter: 30px;
$gutter-double: $gutter * 2;
$gutter-triple: $gutter * 3;
$gutter-half: $gutter / 2;
$gutter-third: $gutter / 3;
$gutter-vertical-large: 50px;
$gutter-vertical-medium: 40px;
$gutter-vertical-small: 20px;
$form-padding: 15px;
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);

// Colors
$color-white: #fff;
$color-black: #000;
$color-error: #ff0000;

// Font sizes
$body-font-size: 16px;

// User Settings
// ------------------------- */

// General
$logo-width: 300px;

$image-body-background: #{"false"};

$color-body-background: #ffffff;
$color-body: #24254e;
$color-accent: #87c55a;
$color-accent-hover: morph($color-accent);
$color-heading: #24254e;
$color-meta: mix($color-body-background, $color-body, 30%);
$color-border: #f0eff2;
$color-logo: $color-heading;

$color-button-primary: #fff6eb;

$color-button-secondary: $color-button-primary;
$color-button-secondary-background: mix($color-body-background, $color-body, 40%);
$color-button-secondary-background-hover: morph($color-button-secondary-background);

$color-button-disabled: darken(desaturate(mix($color-accent, #808080, 20%), 90%), 13%);
$color-button-disabled-background: desaturate(mix($color-accent, #808080, 20%), 90%);

$color-form-select: #1d1b44;
$color-form-select-border: #f0eff2;
$color-form-select-background: #ffffff;

// Footer
$image-footer-background: #{"false"};
$color-footer-background: #1d1b44;
$color-footer-header: #e84d37;
$color-footer-accent: #fff6eb;
$color-footer-accent-hover: morph($color-footer-accent);
$color-footer-share: $color-footer-background;

$color-table-header: $color-heading;
$color-table-header-background: mix($color-form-select-background, $color-body-background);
$color-table-alt-background: mix($color-form-select-background, $color-body-background, 20%);

// Fonts
$font-body: $font-body !default;

$font-logo: $font-logo !default;
$font-logo-capitalize: true;

$font-heading: $font-heading !default;
$font-heading-capitalize: true;

$font-section-heading: $font-heading;
$font-section-heading-capitalize: true;
$font-section-heading-weight: if(false, bolder, initial);

$font-meta: $font-body;
$font-meta-capitalize: true;
$font-meta-weight: if(true, bolder, initial);

$font-button: $font-button !default;
$font-button-capitalize: true;

// Background Styles
// ------------------------- */

// Contrast style
$image-contrast-background: #{"false"};
$color-contrast-background: mix($color-body-background, mix($color-body, $color-accent, 95%), 93%);

// Accent style:
$color-accent-text: $color-button-primary;

// "Standard" style:
$color-standard-text: $color-footer-accent;
$color-standard-text-alt: $color-footer-accent-hover;
$color-standard-background: $color-footer-background;

// Section specific
// ------------------------- */

// Header
$color-header-background: $color-body-background;
$color-action-icons: $color-button-secondary-background;
$color-action-icons-hover: morph($color-action-icons, true);
$color-header-search: $color-form-select;
$color-header-search-background: $color-form-select-background;

$header-height: 110px;
$header-height-small: 70px;

// Navigation (header)
$color-navigation-background: #ffffff;
$color-navigation: #24254e;
$color-navigation-hover: morph($color-navigation);
$color-navigation-dropdown: $color-navigation;
$color-navigation-dropdown-hover: morph($color-navigation-dropdown);
$color-navigation-dropdown-background: darken($color-navigation-background, 3%);
$color-navigation-dropdown-border: $color-navigation-dropdown-background;

$color-header-link: #24254e;
$color-header-dropdown: #ffffff;

// Onboarding
$color-onboarding: rgba($color-body, 0.35);
$color-onboarding-border: rgba($color-body, 0.2);
$color-onboarding-background: rgba($color-body, 0.1);

$color-accent-onboarding: $color-accent-text;
$color-accent-onboarding-border: $color-accent-text;
$color-accent-onboarding-background: rgba($color-accent-text, 0.25);

%font-smoothing {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

%heading-font {
  @extend %font-smoothing;
  @include font($font-heading);
}

%heading-h1 {
  margin-bottom: 20px;
  font-size: rem(40px);

  @if $font-heading-capitalize { font-size: rem(36px); }
}

%heading-h2 {
  margin-bottom: 19px;
  font-size: rem(32px);

  @if $font-heading-capitalize { font-size: rem(28px); }
}

%heading-h3 {
  margin-bottom: 18px;
  font-size: rem(24px);

  @if $font-heading-capitalize { font-size: rem(20px); }
}

%heading-h4 {
  margin-bottom: 18px;
  font-size: rem(20px);

  @if $font-heading-capitalize { font-size: rem(16px); }
}

%heading-h5 {
  margin-bottom: 10px;
  font-size: rem(16px);

  @if $font-heading-capitalize { font-size: rem(12px); }
}

%heading-h6 {
  margin-bottom: 10px;
  font-size: rem(16px);

  @if $font-heading-capitalize { font-size: rem(12px); }
}

%main-content {
  max-width: $max-width;
  padding: $gutter-vertical-large $gutter 0;
  margin: 0 auto $gutter-vertical-large;

  @include breakpoint(s) { padding-top: $gutter-double; }
}

%clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after { clear: both;}
}

%loader {
  @include transition(right 0.2s $ease-out-quad);
  @include animation(rotation 0.6s infinite linear);
  position: absolute;
  top: 50%;
  right: 4px;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border: 3px solid rgba($color-accent, 0.15);
  border-top-color: rgba($color-accent, 0.8);
  border-radius: 100%;

  .loading & {
    right: -45px;
    margin-left: 0;
  }
}

%input-label {
  font-size: rem(16px);

  .inline-input-wrapper & {
    display: inline-block;
    margin-left: 5px;
    font-size: rem(14px);
    vertical-align: middle;
  }
}

%home-feature-rows {
  margin-top: $gutter-vertical-large * 2;
  margin-bottom: $gutter-vertical-large * 2;

  @include breakpoint(s) {
    margin-top: $gutter-vertical-large;
    margin-bottom: $gutter-vertical-large;
  }

  .borders & {
    padding-top: $gutter-vertical-large;
    margin-top: $gutter-vertical-large;
    margin-bottom: $gutter-vertical-large;
    border-top: 1px solid $color-border;
  }

  .contrast-style.borders & { border-color: $color-border; }

  &:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }

  .section-title + { margin-top: $gutter-vertical-large; }

  .feature-title { margin: 0; }

  .rte { margin-top: $gutter-vertical-small; }
}


.gift-card-template {
  @include font($font-body);
  margin: 0;

  a {
    text-decoration: none;
  }

  .btn {
    @include font($font-button);
    background-color: #58686f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1.5em;
    font-size: 0.875em;
    line-height: 1;
    border-radius: 4px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
  }

  .btn:hover {
    background-color: #414d53;
  }

  .wrap {
    width: 95%;
    max-width: 540px;
    margin: 0 auto;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @-webkit-keyframes slideup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px) rotate(10deg);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateY(-30px);
    }

    80% {
      -webkit-transform: translateY(10px);
    }

    100% {
      -webkit-transform: translateY(0) rotate(0deg);
    }
  }

  @keyframes slideup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px) rotate(10deg);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateY(-30px);
    }

    80% {
      -webkit-transform: translateY(10px);
    }

    100% {
      -webkit-transform: translateY(0) rotate(0deg);
    }
  }

  @-webkit-keyframes popup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateY(-10px);
    }

    80% {
      -webkit-transform: translateY(2px);
    }

    100% {
      -webkit-transform: translateY(0);
    }
  }

  @keyframes popup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateY(-10px);
    }

    80% {
      -webkit-transform: translateY(2px);
    }

    100% {
      -webkit-transform: translateY(0);
    }
  }

  @-webkit-keyframes container-slide {
    0% {
      opacity: 0;
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(0deg);
    }
  }

  @keyframes container-slide {
    0% {
      opacity: 0;
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(0deg);
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

  header {
    text-align: center;
    padding: 3em 0;
    -webkit-animation: fadein 0.5s ease-in-out both 0.4s;
    animation:fadein 0.5s ease-in-out both 0.4s
  }

  .shop-title {
    @include font($font-logo);
    font-size: 2.25em;
    color: #bfbfbf;
    max-width: 300px;
    display: block;
    margin: 0 auto;

    &:hover {
      color: #999999;
    }

    img {
      max-height: 100%;
      margin: 0 auto;
    }
  }

  main {
    padding-bottom: 3em;
    -webkit-animation: slideup 0.8s ease-in-out;
    animation: slideup 0.8s ease-in-out;
  }

  .gift-card-outer-container {
    background-color: #34aadc;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
    box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;
    padding: 1em;
    -webkit-animation: container-slide 0.8s ease-in-out;
    animation: container-slide 0.8s ease-in-out;
  }

  .gift-card-inner-container {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    -webkit-animation: cardslide 0.8s ease-in-out;
    animation: cardslide 0.8s ease-in-out;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .gift-card-header {
    border-bottom: 1px solid #f2f2f2;
    padding: 0.75em;
    display: block;
    overflow: hidden;
    position: relative;

    h2 {
      float: left;
      margin: 0.12em 0;
    }

    .tag {
      float: right;
    }
  }

  .tag {
    background-color: #bfbfbf;
    padding: 0.5em;
    padding-bottom: 0.35em;
    border-radius: 4px;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    line-height: 1;

    &.light {
      background: transparent;
      color: #bfbfbf;
      border: 1px solid #d9d9d9;
    }
  }

  .gift-card-holder {
    margin: 0.75em;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    position: relative;

    .corner {
      display: block;
      width: 47px;
      height: 47px;
      position: absolute;
      z-index: 2;

      &.top-left {
        background: url("//cdn.shopify.com/s/assets/gift-card/corner-top-left-1585103bdd46bf1297b88f31bdfce999.png") 0 0 no-repeat;
        top: -1px;
        left: -1px;
      }

      &.bottom-right {
        background: url("//cdn.shopify.com/s/assets/gift-card/corner-bottom-right-ba899b18631cb91859e186c2cc1c6970.png") 0 0 no-repeat;
        bottom: -1px;
        right: -1px;
      }
    }
  }

  .gift-card {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

    &:before {
      content:  '';
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
      box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
      border-radius: 10px;
      z-index: 1;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
    }

    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }

  .gift-card-code-outer {
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%;

    &.medium {
      font-size: 0.875em;
    }

    &.small {
      font-size: 0.75em;
    }
  }

  .gift-card-code-inner {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 4px;
    max-width: 450px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

    strong {
      font-style: font-style($font-body);
      font-weight: font-weight($font-body);
      font-size: 1.875em;
      text-transform: uppercase;
      border-radius: 2px;
      border: 1px dashed #e5e5e5;
      padding: 0.4em 0.5em;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      color: #777;
      line-height: 1;
    }
  }

  .small .gift-card-code-inner {
    overflow: auto;
  }

  .disabled .gift-card-code-inner strong {
    color: #999;
    text-decoration: line-through;
  }

  .gift-card-code-inner span+span {
    margin-left: 0.25em;
  }

  .gift-card-amount {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 2.75em;
    padding: 0.4em 0.5em;
  }

  .gift-card-amount.medium {
    font-size: 2.25em;
  }

  .gift-card-amount strong {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    display: block;
  }

  .tooltip {
    position: relative;

    &:hover .tooltip-container {
      display: block;
    }
  }

  .tooltip-container {
    display: block;
    position: absolute;
    top: -100%;
    right: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    -webkit-animation: popup 0.5s ease-in-out both 0.7s;
    animation: popup 0.5s ease-in-out both 0.7s;
    top: -50%;
    margin-top: 0.25em;
  }

  .tooltip-triangle {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 5px solid #333;
    border-top: 5px solid rgba(51,51,51,0.9);
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
  }

  .tooltip-label {
    display: block;
    position: relative;
    right: -50%;
    border: none;
    border-radius: 4px;
    background: #333;
    background: rgba(51,51,51,0.9);
    color: #fff;
    min-height: 14px;
    font-style: font-style($font-body);
    font-weight: font-weight($font-body);
    font-size: 0.4em;
    text-decoration: none;
    line-height: 16px;
    text-shadow: none;
    padding: 0.5em 0.75em;
    margin-left: 0.25em;
  }

  .gift-card-instructions {
    font-size: 0.875em;
    text-align: center;
    color: #999;
    margin: 0 0.75em 1.5em;
  }

  .gift-card-qr-code{
    display: block;

    img {
      padding: 1.25em;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
      margin: 0 auto 1.25em;
    }
  }

  .gift-card-actions {
    border-top: 1px solid #f2f2f2;
    padding: 1.25em 0.75em;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
  }

  .action-link {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bfbfbf;
    margin-top: 1.75em;
    position: absolute;
    left: 1.25em;
    top: 1.25em;

    &:hover {
      color: #999;

      .ico-16 {
        opacity: 0.4;
      }
    }
  }

  .ico-16 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 17px;
    height: 17px;
    vertical-align: bottom;
    margin-bottom: -1px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    opacity: 0.25;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    &.print {
      background-image: url("//cdn.shopify.com/s/assets/gift-card/icon-print-164daa1ae32d10d1f9b83ac21b6f2c70.png");
    }
  }

  footer[role='contentinfo'] {
    padding-bottom: 3em;
    text-align: center;
    -webkit-animation: fadein 0.5s ease-in-out both 0.4s;
    animation: fadein 0.5s ease-in-out both 0.4s;
  }

  .gift-card-apple-wallet-badge {
    display: inline-block;
  }

  .gift-card-apple-wallet-badge-image {
    display: block;
  }

  @media screen and (max-width: 580px){
    body {
      font-size: 12px;
    }

    h2 {
      font-size: 1.5em;
    }

    .gift-card-outer-container {
      padding: 0.5em;
    }

    .tooltip-container {
      top: -65%;
    }

    .gift-card-actions .btn {
      width: 100%;
      padding-left: 0
      ;padding-right: 0;
      font-size: 1.125em;
    }

    .action-link {
      position: relative !important;
      left: auto !important;
      right: auto !important;
      top: auto !important;
      font-size: 1.125em;
      display: none;
    }

    .action-link + .action-link {
      margin-left: 1.5em;
    }
  }

  @media screen and (max-width: 400px){
    h2 {
      font-size: 1.25em;
    }

    .gift-card {
      font-size: 10px;
    }

    .gift-card-holder .corner {
      display: none;

      &.bottom-right {
        background-position: bottom right !important;
      }
    }

    .gift-card-amount strong {
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    }

    .tooltip-container {
      top: -75%;
    }
  }

  @media screen and (max-height: 800px){
    .shop-title {
      max-height: 100px;
    }
  }

  @media screen and (max-height: 750px){
    .shop-title {
      max-height: 80px;
    }

    header {
      padding: 2em 0;
    }

    footer[role='contentinfo'],
    main {
      padding-bottom: 2em;
    }
  }

  @media print{
    @page {
      margin: 0.5cm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }

    body {
      background-color: #fff;
    }

    .gift-card-actions,
    .gift-card-holder .corner,
    .tooltip-container,
    .gift-card:before {
      display: none;
    }

    .gift-card-code-inner strong {
      color: #555;
    }

    .gift-card-amount .tooltip {
      color: #fff !important;
    }

    .shop-title {
      color: #58686f;
    }

    .gift-card-outer-container,
    .gift-card-inner-container,
    .gift-card-code-inner,
    .gift-card:before {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

