{% layout none %}
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>
    {{ shop.name }} &ndash; {{ 'password.general.opening_soon' | t }}
  </title>
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {% include 'social-meta-tags' %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Third Party JS Libraries -->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'modernizr-2.7.1.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'modernizr-2.7.1.min.js' | asset_url }}"></script><![endif]-->

  <!-- Store object -->
  {% include 'theme-options' %}

  {{ content_for_header }}

</head>

<body class="template-password">

  {% comment %}
    TODO: Create and pass arguments to hide/disable features
  {% endcomment %}
  {% section 'general-header' %}

  <main class="main-content password-main-content" role="main">
    <div class="password-inner">
      {% section 'template-password' %}
    </div>
  </main>

  <div class="password-main-footer">
    <footer class="main-footer password-inner">
      <div role="contentinfo" class="copyright footer-module">
        {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
        <p>{{ 'general.general.copyright_text_html' | t: year: year }}<br>
          <a href="http://www.pixelunion.net/themes/shopify/startup">Startup theme</a> by <a href="https://www.pixelunion.net">Pixel Union</a>. {{ powered_by_link }}.
        </p>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  {{ 'jquery-1.10.0.min.js' | asset_url | script_tag }}

  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'password.js'  | asset_url | script_tag }}

</body>
</html>
